@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header--logo--text {
  padding: 15px 20px;
  border-bottom: 1px solid #EEF2F6;
  /* border-right: 1px solid #EEF2F6; */
  font-size: 1.2rem;

}

.header--head--text {
  font-size: 1.1rem;
  padding: 17px 40px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EEF2F6;
}

.header--search {
  margin: 10px 20px;
}

.header--search input {
  border: 1px solid #E2E8F0;
  color: #94A3B8;
  align-self: flex-end;
  margin: 2px auto;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  padding-left: 30px;
  outline: none;
  font-size: 0.9rem;
  font-weight: 200;
}

.todobody {
  display: flex;
}

.task {
  margin: 20px;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.task:hover {
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.task--data {
  border-bottom: 1px solid #E2E8F0;
  padding: 25px;
}

.task--edit {
  display: flex;
  align-items: center;
}


.task--edit--button {
  color: #000;
}

.task--edit--button:hover {
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  
}
.task--name {
  font-size: 1.6rem;
}

.task--info {
  margin-top: 8px;
  color: #94A3B8;
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.015rem;
}

.task--type--container {
  display: flex;
}

.task--type {
  margin-top: 15px;
  padding: 9px;
  font-size: 0.9rem;
  color: #33BFFF;
  background-color: #F0FAFF;
  border-radius: 6px;
  max-width: fit-content;
  margin-right: 50px;
}

.task--date {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.task--date--day {
  margin-left: 7px;
  color: #94A3B8;
  font-size: 0.97rem;
}

ion-icon {
  color: #94A3B8;
  font-size: 1.3rem;
}

/* .task--color {
  background-color: #D2ECC6;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
} */

.tasksbody {
  margin-left: 250px;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #E2E8F0;
  height: 100vh;
  position: fixed;
}

.bodytodo--head {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 2px;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #1E293B;
  width: 250px;
}

.bodycompleted--head {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 2px;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #78C552;
  width: 250px;
}

.bodytodo--head--h1 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.bodytodo--head--count {
  border: 1px solid #E2E8F0;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #94A3B8;
  margin-left: 10px;
  margin-top: 2px;
}

.taskdisplay {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 20px 30px;
}

.completebutton {
  padding: 8px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #306BFF;
  font-weight: 550;
  color: white;
  cursor: pointer;
  margin-right: auto;
}

.completebutton:hover {
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.donebutton {
  padding: 8px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #33BFFF;
  font-weight: 550;
  color: white;
  cursor: pointer;
  margin-right: auto;
}

.donebutton:hover {
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.formtask {
  padding: 10px;
  margin-right: 20px;
}

.addtask--form {
  position: fixed;
  bottom: 150px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEF2F6;
  border: 2px solid #94A3B8;
  border-radius: 20px;
  width: 400px;
  height: 350px;
}

.form--name--div {
  padding: 10px;
  width: 320px;
  height: 40px;
  margin: 10px;
}

.form--name {
  width: 100%;
  height: 100%;
  border: 2px solid #EEF2F6;
  border-radius: 10px;
  padding: 7px 0;
  padding-left: 15px;
  font-size: 1rem;
  letter-spacing: 0.015rem;
  outline: none;
}

.form--date {
  width: 100%;
  height: 100%;
  border: 2px solid #EEF2F6;
  border-radius: 10px;
  padding: 7px 0;
  padding-right: 7px;
  padding-left: 15px;
  font-size: 1rem;
  letter-spacing: 0.015rem;
  outline: none;
}

.form--name--date {
  padding: 10px;
  width: 140px;
  height: 40px;
  margin: 10px;
}

.buttondiv {
  display: flex;
  align-content: center;
  align-items: center;
}

.buttonadd {
  min-width: max-content;
  min-height: max-content;
  border-radius: 25px;
  padding: 18px;
  margin-top: 12px;
  border: none;
  background-color: #306BFF;
  color: #F0FAFF;
  font-size: 1.2rem;
}

.buttonadd:hover {
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.addtask {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.sidebartitles {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: red;
}

.sidetitle {
  font-size: 1.4rem;
  font-weight: 600;
}

.sidedate {
  margin-top: 2px;
  /* margin-left: 3px; */
  font-size: 0.95rem;
}